<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit your place</h3>
    <form method="post" action="/places/<%=place._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" 
            class="form-label">Title</label>
            <input name="place[title]" type="text" value="<%=place.title%>" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" 
            class="form-label">Description</label>
            <textarea name="place[description]" type="text" class="form-control" required><%=place.description%></textarea>
        </textarea>
        </div>
        <div class="mb-3">
            <label for="image" 
            class="form-label">Upload Image</label>
            <input name="place[image]" type="file"  class="form-control" >
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" 
                class="form-label">Price</label>
                <input name="place[price]" type="number" value="<%=place.price%>" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" 
                class="form-label">Country</label>
                <input name="place[country]" type="text" value="<%=place.country%>" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
        </div>
        <div class="mb-2">
            <label for="location" 
            class="form-label">Location</label>
            <input name="place[location]" type="text" value="<%=place.location%>" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div >
            <label for="type" class="form-label">Type</label>
            <select id="type" name="place[type]" class="form-control" required>
                <option value="room" <%= place.type === 'room' ? 'selected' : '' %>>Room</option>
                <option value="house" <%= place.type === 'house' ? 'selected' : '' %>>House</option>
                <option value="apartment" <%= place.type === 'apartment' ? 'selected' : '' %>>Apartment</option>
                <option value="other" <%= place.type === 'other' ? 'selected' : '' %>>Other</option>
            
              </select>
            <div class="valid-feedback">Looks good!</div>
          </div>
        <br><br>
        <button class="btn btn-dark mb-3">Edit</button>
    </form>
    </div>
</div>    
